.md-content {
  margin-right: 0;
}

.md-typeset__table {
  padding: 0;
}

.md-typeset table:not([class]) {
  font-size: 0.75rem;
}

.md-header__button.md-logo {
  height: 2rem;
  margin: 0;
}

@media screen and (max-width < 700px){
  .md-sidebar--secondary:not([hidden]) {
  display: none;
  }
}
